body {
  padding-top: 50px;
  background-color: rgb(34, 34, 34);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.jumbotron {
  margin: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/geo-bias/geo-bias-homepage/GeoBiasJumbotron.jpg');
  background-size: cover;
  color: #fff;
  height: 400px;
  text-shadow: 2px 2px 2px #393939;
}


.nav-home .col-sm-2 {
  width: 50%;
  text-align: center;
}
.nav-home h2 {
  color: #fff;  
}

.img-circle {
  border: 2px solid #6d6d6d;
}

.btn-default {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  margin: 30px;
  color: #fff;
}